body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right top, #4c5138, #565b40, #5f6648, #697051, #737b59, #7c8462, #868e6a, #8f9773, #9aa27e, #a5ad88, #b1b993, #bcc49e);
}